<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    {% if page.image %}
	<meta property="og:image" content="{{page.image}}">
    {% else %}
	<meta property="og:image" content="{{site.logo}}">
    {% endif %}

    {% feed_meta %}
    {% seo %}
	  {% include MathJax.html %}
	  
  </head>
  <body>
	  {% include header.html %}
	  <hr>
    {% include navigation.html %}
    <hr>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <hr>
	  {% include footer.html %}
  </body>
</html>
